html, body {
    background: #f5f5f5;
    font-family: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei',sans-serif;
}
#mission-center-root {
	padding:30px 38px;
	margin: 0;
	background: #f5f5f5;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}
#mission-center-root>.container {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 0 20px;
    background: #fff;
}
#mission-center-root .navbar {
    height: 50px;
}
#mission-center-root .navbar-default {
    background: #fff;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #EDEDED;
}
#mission-center-root .navbar-collapse {
    padding: 0;
}
#mission-center-root .navbar-default .navbar-nav > .active > a,
#mission-center-root .navbar-default .navbar-nav > .active > a:hover {
    background: #fff;
    color:#29B6F6;
    border-bottom: 1px solid #29B6F6;
}
#mission-center-root .navbar-default .navbar-nav > li > a,
#mission-center-root .navbar-default .navbar-nav > li > a:hover {
    color:#9E9E9E;
    width:132px;
    height: 50px;
    border-bottom: 1px solid transparent;
    text-align: center;
}
#mission-center-root .navbar-form  {
    margin-right: 0;
    margin-top: 7px;
    margin-bottom: 7px;
}
#mission-center-root .navbar-form .btn {
    width: 100px;
    height: 32px;
    padding: 0;
	outline: none;
    line-height: 32px;
    text-align: center;
    background: #29B6F6;
    border-color: #29B6F6;
    border-radius: 4px;
    color: #fff;
}
#mission-center-root .navbar-form .btn:hover {
    background: #29B6F6;
    border-color: #29B6F6;
}
#mission-center-root .row {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}
#mission-center-root .mission-center-content {
    background: #fff;
    margin-bottom: 0;
  	position: absolute;
  	left: 0;
  	right: 0;
  	top: 50px;
  	bottom: 0;
}
#mission-center-root .filter-wrap {
	margin: 0 20px;
	height: 50px;
    border-color: #EDEDED;
}
#mission-center-root .filter-wrap .dropdown-wrap{
	margin: 0;
	padding: 0;
	height: 50px;
	float: left;
	list-style: none;
}

#mission-center-root .dropdown-wrap .dropdown{
	float: left;
	margin-right: 10px;
}

#mission-center-root .filter-wrap > li {
    margin-bottom: -2px;
}
#mission-center-root .filter-wrap > li > a,
#mission-center-root .filter-wrap > li > a:hover  {
    border-radius: 0;
    color:#949494;
    min-width: 100px;
    height: 46px;
    line-height: 46px;
    margin: 0;
    padding:0;
    text-align: center;
    background: transparent;
    border: 0 none;
	text-decoration: none;
}
#mission-center-root .filter-wrap > li.active > a {
    border: 0 none;
    border-bottom: 1px solid #29B6F6;
    color: #29B6F6;
}
#mission-center-root .dropdown-menu {
    right: auto;
    left: 0;
	border: 1px solid #ededed;
}
#mission-center-root .dropdown{
	height: 30px;
	margin: 10px 0 0 0;
	padding: 0 5px;
	border: 1px solid #ededed;
	border-radius: 4px;
}

#mission-center-root .dropdown > a,
#mission-center-root .nav .open > a:hover {
	height: 30px;
	line-height: 30px !important;
    background: transparent;
    color: #9E9E9E;
	font-size: 12px;
	text-decoration: none;
}
#mission-center-root .dropdown-menu > .active > a {
    background: #E4E4E4;
    color: #29B6F6;
}
#mission-center-root .dropdown-menu a {
    color: #666;
    background: #fff;
}
#mission-center-root .list-wrap {
    padding: 0;
	position: absolute;
    left: 20px;
    right: 20px;
    top: 50px;
    bottom: 0;
}
#mission-center-root .list-wrap h3 {
	height: 30px;
	line-height: 30px;
    font-size: 14px;
    margin-bottom: 16px;
    margin-top: 0;
	font-weight: normal;
	color: #262626;
}
#mission-center-root .list-wrap .link {
    color: #29B6F6;
    margin-right: 5px;
}
#mission-center-root .list-wrap td {
    padding-top: 20px;
    padding-bottom: 0;
}
#mission-center-root .list-wrap tr:first-child td {
    border-top: 0 none;
}
#mission-center-root .list-wrap .item-info-cell {
	display: block;
}

#mission-center-root .list-wrap .table-list{
	margin: 0 -20px;
	background: #fff;
	font-size: 13px;
	color: #9E9E9E;
}

#mission-center-root .list-wrap .table-list .item{
	padding: 0 20px;
}

#mission-center-root .list-wrap .table-list .item:hover{
	background: #F8F8F8;
}

#mission-center-root .list-wrap .table-list .box{
	display: -webkit-box;
	padding: 20px 0;
	border-bottom: 1px solid #EDEDED;
}

#mission-center-root .list-wrap .table-list .box.hadread .unread{
    display: none;
}

#mission-center-root .list-wrap .table-list .item-info{
	display: -webkit-box;
	-webkit-box-flex: 1;

}

#mission-center-root .list-wrap .table-list .item-info .unread i,
#mission-center-root .list-wrap .table-list .item-info .read i{
    display: none;
}

#mission-center-root .list-wrap .table-list .item-info .unread,
#mission-center-root .list-wrap .table-list .item-info .read{
    position: absolute;
    left: -6px; top: 50%;
    z-index: 12;
    margin: -3px 0 0  -3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #FA4F52;
}

#mission-center-root .list-wrap .table-list .item-info .uname,
#mission-center-root .list-wrap .table-list .item-info .avatar{
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -19px 0 0 -19px;
	display: inline-block;
	width: 38px;
	height: 38px;
	line-height: 38px;
	border-radius: 50%;
	font-size: 12px;
	color: #fff;
	text-align: center;
	z-index: 11;
}

#mission-center-root .list-wrap .table-list .item-info .uname{
	background: #29B6F6;
	z-index: 10;
}

#mission-center-root .list-wrap .table-list .item-info .mine-avatar{
	border-radius: 0;
}

#mission-center-root .list-wrap .table-list .item-info .avatar img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	vertical-align: top;
}

#mission-center-root .list-wrap .table-list .item-info .avatar-icon-1{
    background: url('../img/icon-1.png') no-repeat 0 0;
    background-size: cover;
}

#mission-center-root .list-wrap .table-list .item-info .avatar-icon-2{
    background: url('../img/icon-2.png') no-repeat 0 0;
    background-size: cover;
}

#mission-center-root .list-wrap .table-list .item-info .avatar-icon-3{
    background: url('../img/icon-3.png') no-repeat 0 0;
    background-size: cover;
}

#mission-center-root .list-wrap .table-list .item-info .avatar-icon-4{
    background: url('../img/icon-4.png') no-repeat 0 0;
    background-size: cover;
}

#mission-center-root .list-wrap .table-list .item-info .avatar-icon-5{
    background: url('../img/icon-5.png') no-repeat 0 0;
    background-size: cover;
}

#mission-center-root .list-wrap .table-list .item-info .avatar-icon-6{
    background: url('../img/icon-6.png') no-repeat 0 0;
    background-size: cover;
}

#mission-center-root .list-wrap .table-list .item-info .avatar-icon-7{
    background: url('../img/icon-7.png') no-repeat 0 0;
    background-size: cover;
}

#mission-center-root .list-wrap .table-list .item-info .avatar-icon-8{
    background: url('../img/icon-8.png') no-repeat 0 0;
    background-size: cover;
}

#mission-center-root .list-wrap .table-list .item-info .avatar-icon-9{
    background: url('../img/icon-9.png') no-repeat 0 0;
    background-size: cover;
}

#mission-center-root .list-wrap .table-list .item-info .avatar-icon-10{
    background: url('../img/icon-10.png') no-repeat 0 0;
    background-size: cover;
}

#mission-center-root .list-wrap .table-list .item-info .avatar-icon-11{
    background: url('../img/icon-11.png') no-repeat 0 0;
    background-size: cover;
}

#mission-center-root .list-wrap .table-list .item-info .avatar-icon-12{
    background: url('../img/icon-12.png') no-repeat 0 0;
    background-size: cover;
}

#mission-center-root .list-wrap .table-list .item-info .avatar-icon-13{
    background: url('../img/icon-13.png') no-repeat 0 0;
    background-size: cover;
}

#mission-center-root .list-wrap .table-list .item-info .avatar-icon-14{
    background: url('../img/icon-14.png') no-repeat 0 0;
    background-size: cover;
}

#mission-center-root .list-wrap .table-list .item-info .avatar-icon-15{
    background: url('../img/icon-15.png') no-repeat 0 0;
    background-size: cover;
}

#mission-center-root .list-wrap .table-list .item-info .avatar-icon-16{
    background: url('../img/icon-16.png') no-repeat 0 0;
    background-size: cover;
}

#mission-center-root .list-wrap .table-list .item-info .avatar-icon-17{
    background: url('../img/icon-17.png') no-repeat 0 0;
    background-size: cover;
}

#mission-center-root .list-wrap .table-list .item-info .avatar-icon-18{
    background: url('../img/icon-18.png') no-repeat 0 0;
    background-size: cover;
}

#mission-center-root .list-wrap .table-list .item-info .avatar-icon-19{
    background: url('../img/icon-19.png') no-repeat 0 0;
    background-size: cover;
}

#mission-center-root .list-wrap .table-list .item-info .avatar-icon-20{
    background: url('../img/icon-20.png') no-repeat 0 0;
    background-size: cover;
}


#mission-center-root .list-wrap .table-list .item-info .duedate{
	background: #FA4F52;
	padding: 2px 3px;
	margin: 0 0 0 5px;
	font-size: 11px;
	color: #fff;
}

#mission-center-root .list-wrap .table-list .item-info .l,
#mission-center-root .list-wrap .table-list .item-info .m,
#mission-center-root .list-wrap .table-list .item-info .r{
	display: -webkit-box;
	-webkit-box-align: center;
	position: relative;
}
#mission-center-root .list-wrap .table-list .item-info .l{width: 38px; margin-right: 12px; -webkit-box-pack: center;}
#mission-center-root .list-wrap .table-list .item-info .m{-webkit-box-flex: 1;}

#mission-center-root .list-wrap .table-list .item-info .r{width: 300px; -webkit-box-pack: center;}

#mission-center-root .list-wrap .table-list .item-info .remark-list{
	marign: 0;
	padding: 0;
	list-style: none;
}

#mission-center-root .list-wrap .item-status {
	display: -webkit-box;
	-webkit-box-align: center;
    text-align: center;
    vertical-align: middle;
}
#mission-center-root .list-wrap .item-status .btn-tip {
	min-width: 60px;
	padding: 5px 10px;
	font-size: 12px;
    border-radius: 10px;
}

#mission-center-root .list-wrap .item-status .btn-tip-doing{background: rgba(243,152,1,.1); color: #F39801;}
#mission-center-root .list-wrap .item-status .btn-tip-done{background: rgba(245,245,245,1); color: #CCC;}
#mission-center-root .list-wrap .item-status .btn-tip-stop{background: rgba(250,79,82,.1); color: #FA4F52;}

#mission-center-root .alert {
    margin-top: 10px;
}
.form-list-dialog {
    width: 940px;
}
.form-list-dialog .modal-content {
    border-radius: 0;
    border: 0 none;
}
.form-list-dialog .modal-content .btn,
.mission-center-confirm .modal-content .btn {
    border-radius: 0;
    min-width: 100px;
    background: #fff;
    border: 1px solid #39f;
    color: #333;
    height: 30px;
    line-height: 14px;
}
.form-list-dialog .modal-content .btn:hover,
.mission-center-confirm .modal-content .btn:hover {
    background: #cae4ff;
}
.form-list-dialog .modal-content .btn-primary,
.mission-center-confirm .modal-content .btn-primary {
    color: #fff;
    background: #39f;
    border: 1px solid #39f;
}
.form-list-dialog .modal-content .btn-primary:hover,
.mission-center-confirm .modal-content .btn-primary:hover {
    background: #077bf0;
    border-color: #077bf0;
}
.form-list-dialog .form-list-tip-wrap {
	position: fixed;
	top: 10px;
	left: 0;
	right: 0;
	opacity: 0.8;
	text-align: center;
}
.form-list-dialog .form-list-tip {
	display: inline-block;
}
.form-list-dialog .modal-body {
	max-height: 315px;
    min-height: 220px;
	overflow: auto;
}
/*
.form-list-dialog .categories-list {
    padding: 0 50px;
    list-style: none;
}
.form-list-dialog .categories-list .forms-list {
    display: none;
    list-style: none;
}
.form-list-dialog .categories-list .show .forms-list {
    display: block;
}
.form-list-dialog .categories-list .category > a{
    text-decoration: none;
    color: #333;
    font-size: 12px;
}
.form-list-dialog .categories-list .category .category-count {
    margin-left: 10px;
    color: #999;
}
.form-list-dialog .categories-list .category > a > i{
    margin-right: 10px;
    font-size: 12px;
    display: inline-block;
}
.form-list-dialog .categories-list .category > a > i:after{
    content: '\e648'
}
.form-list-dialog .categories-list .category.show > a > i{
    color: #2192FF;
}
.form-list-dialog .categories-list .category.show > a > i:after{
    content: '\e649'
}
*/
.form-list-dialog .forms-list {
    list-style: none;
    text-align: center;
    padding: 0;
}
.form-list-dialog .forms-list li {
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    margin: 12px;
    display: inline-block;
    /*float: left;*/
}
.form-list-dialog .forms-list li:hover {
    border-color: #6AD2FF;
    background: #f0f9ff;
}
.form-list-dialog .forms-list li.active {
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border: 1px solid #2192FF;
    position: relative;
}
.form-list-dialog .forms-list li.active:after{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #2192FF;
    color: #fff;
    content: "\e630";
    z-index: 10px;
    right: -15px;
    top: -15px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    font-family: "iconfont_iform";
    font-size: 15px;
}
.form-list-dialog .forms-list li a {
    width: 118px;
    height: 73px;
    text-align: center;
    overflow: hidden;
    display: block;
    text-decoration: none;
    color: #393939;
}
.form-list-dialog .forms-list li a:after {
    content: '\20';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}
.form-list-dialog .forms-list .form-title {
    display: table-cell;
    height: 58px;
    vertical-align: middle;
    width: 118px;
    padding: 5px 10px;
}
.form-list-dialog .forms-list .form-title span{
    display: inline-block;
    max-width: 98px;
    max-height: 38px;
    overflow: hidden;
    word-wrap:break-word;
}
.form-list-dialog .forms-list .category-title {
    display: block;
    text-align: right;
    padding:0 10px;
    height: 16px;
    line-height: 16px;
    color:#fff;
    vertical-align: middle;
    font-size: 12px;
}
.form-dialog {
    margin: 0;
    width: 100%;
    height: 100%;
}
.form-dialog .modal-content {
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    height: 100%;
}
.form-dialog .modal-header {
    padding: 0;
    border: 0 none;
}
.form-dialog .modal-header .close {
	display: none;
    position: fixed;
    color: #fff;
    text-shadow: none;
    opacity: 1;
    font-weight: normal;
    font-size: 52px;
    right: 10px;
    top: 10px;
    z-index: 100;
    line-height: 32px;
	outline:none;
}
.form-dialog .modal-body {
    padding: 0;
    /*padding-top: 30px;*/
    /*height: 100%;*/
    position: absolute;
    left: 60px;
    right: 60px;
    top: 30px;
    bottom: 30px;
}
.form-dialog .form-iframe-wrap {
    height:100%;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
    /*border-radius: 8px;*/
}
.form-dialog .form-iframe-wrap .alert {
    margin: 20px 40px;
}
.form-dialog .form-iframe {
    background: #fff;
    border: 0 none;
    /*width: calc(100% - 460px);*/
    display: block;
    /*height: calc(100% - 60px);*/
    width: 100%;
    height: 100%;
}
.card-list-wrap {
	height: 80%;
	overflow: auto;
}
.card-list-wrap ul{
    list-style: none;
    padding: 0;
    margin: 0 20px;
}
.card-list-wrap .card-list-item {
    border-bottom: 1px solid #eee;
    padding-top: 12px;
    position: relative;
}
.card-list-wrap .card-list-item .toolbar-area{
    display: none;
    position: absolute;
    right: 2px;
    bottom: 2px;
    padding: 6px 0;
    background: #C6E5FF;
}
.card-list-wrap .card-list-item .toolbar-area li {
    float: left;
    border-right: 1px solid #81C3FF
}
.card-list-wrap .card-list-item .toolbar-area li:last-child {
    border: 0 none;
}
.card-list-wrap .card-list-item .toolbar-area li a {
    color: #0799E9;
    text-decoration: none;
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    display: block;
    width: 75px;
    text-align: center;
}

.card-list-wrap .card-list-item:hover {
    background: #F0F9FF
}
.card-list-wrap .card-list-item:hover .toolbar-area{
    display: block;
}
.card-list-wrap .category-name {
    width: 88px;
    height: 34px;
    line-height: 34px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    background: #FF835F;
    text-align: right;
    padding: 0 5px;
    margin-right: 10px;
    font-size: 12px;
}
.card-list-wrap h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    font-size: 15px;
    margin: 0;
    margin-right: 310px;
    vertical-align: middle;
    font-weight: normal;
}
.card-list-wrap h3 span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    height: 34px;
    line-height: 34px;
}
.card-list-wrap .info-area {
    float: right;
}
.card-list-wrap .info-area li {
    float: left;
    margin-right: 15px;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
}
.card-list-wrap .info-area li.notSubmit {
    color: #FF6600;
}
.card-list-wrap .info-area li.inHandle {
    color: #0799E7;
}
.card-list-wrap .info-area li.complate {
    color: #00DA8F;
}
.card-list-wrap .fields-area {
    padding: 20px 50px;
}
.card-list-wrap .fields-area li {
    margin-right: 30px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 50%;
    float: left;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 35px;
    color:#666;
}
.card-list-wrap .alert {
    margin-left: 40px;
    margin-right: 40px;
}
.mission-center-confirm {
    max-width: 500px;
    height: 100%;
    margin: 0 auto;
}
.mission-center-confirm:after {
    content: '\20';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.mission-center-confirm .modal-content {
    border: 0 none;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.mission-center-confirm .modal-header {
    border: 0 none;
    padding: 20px;
}
.mission-center-confirm .modal-body {
    padding: 20px;
    padding-top: 0;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
.mission-center-confirm .modal-footer {
    padding: 20px;
    border: 0 none;
    text-align: center;
}
.modal-body .loading-wrap {
    height: 90px;

}
.mission-center-content .loading-wrap {
    position: relative;
	height: 100%;
    z-index: 100;
}
.no-data {
    text-align: center;
    color: #999;
    font-size: 14px;
	width: 100%;
    padding-top: 170px;
	position: absolute;
	top:50%;
	left:0;
	margin-top: -95px;
    background-image: url('../img/no-data-icon.png');
    background-repeat: no-repeat;
    background-position: center top;
}
.form-list-tip-enter {
	opacity: 0;
}
.form-list-tip-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-in;
}
.form-list-tip-leave {
	opacity: 1;
}
.form-list-tip-leave-active {
	opacity: 0;
	transition: opacity 300ms ease-in;
}
.card-list-wrap .pagination{
    position: fixed;
    bottom: 35px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}
.card-list-wrap .pagination>li{
    display: inline-block;
}
.card-list-wrap .pagination>li>a, .pagination>li>span {
    padding: 8px 16px;
    font-size: 14px;
}
.search-bar {
	position: relative;
    float:right;
	width: 160px;
	height: 26px;
	margin-top: 12px;
	background: #F5F5F5;
	border-radius: 13px;
}
.search-bar .search-text{
	display: inline-block;
	margin: 0 0 0 26px;
	height: 26px;
	border: none;
	outline: none;
	font-size: 12px;
	background: transparent;
}

.search-bar .search-text::-webkit-input-placeholder{
	color: #ccc;
}

.search-bar .btn-search{
	position: absolute;
	left: 0;
	top: 0;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
}
.search-bar .btn-search .iconfont{
	font-size: 14px;
	color: #ccc;
}
